/.vs/Proiect_POO/CopilotIndices
/.vs/ProjectFinalBoss/v17
/.vs/Proiect_POO/FileContentIndex
/.vs/Proiect_POO/v17
/.vs/ProjectFinalBoss/CopilotIndices/17.13.441.19478
/.vs/ProjectFinalBoss/FileContentIndex
/include/SFML
/lib/cmake/FLAC
/lib/cmake/freetype
/lib/cmake/Ogg
/lib/cmake/SFML
/lib/cmake/Vorbis
/lib/Debug
/lib
/Proiect_POO/x64/Debug
/ProjectFinalBoss/x64/Debug
/ProjectFinalBoss/x64/Release
/x64/Debug
/x64/Release
/Proiect_Cafenea
